<h1>All Stashes</h1>
<% @stashes.each do |stash|%>
<p><%= stash.name%></p><br>
    <%@stashes.ingredients each do |ingredient|%>
<p>Ingredient 1:<%= ingredient.name%></p><br>
<p>Ingredient 2:<%= ingredient.name%></p><br>
<p>Ingredient 3:<%= ingredient.name%></p><br>
<p>Ingredient 4:<%= ingredient.name%></p><br>
<p>Ingredient 5<%= ingredient.name%></p><br>
<%end%>
<%end%>
