<div class=".col-6 .col-sm-4">
<h2>Cocktail list </h2>
<% @cocktails.each do |cocktail|%>
<h2><%= cocktail.name%></h2>
<p>Description:<%= cocktail.description%></p><br>
<p>Glassware:<%= cocktail.glassware%></p><br>
<p>Ingredients: <%= cocktail.ingredients%></p><br>
<p>Method:<%= cocktail.method%></p><br>
<p>Garnish:<%= cocktail.garnish%></p><br>
<form action="/user/<%=@user.id%>/cocktail" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="hidden" type="_method" name="cocktail[id]" value="<%= cocktail.id%>">
<input type="submit" value="Remove cocktail from library">
</form>
<%end%>

</div>