<div class=container>
  <%@cocktails.each do |cocktail|%>
   <div class="card">
    <div class="card-content">
     <h2 class="title"><%= cocktail.name%></h2>
      <p class="">Description</p>
      <p class=""><%= cocktail.description%></p><br>
     
      <article class="media">
     <div class="">
     <div class="content">
      <p>Glassware</p>
      <p><%= cocktail.glassware%></p><br>
    </div>
    </div>
     <figure class="media-left">
    <img class="image is-64x64" src="/images/<%=cocktail.glassware.gsub(' ', '').downcase%>.svg">
      </figure>
  
    </article>
    
      <p class="">Ingredients</p>
      <p class=""><%= cocktail.ingredients%></p><br>
      <p class="">Method</p>
      <p class=""><%= cocktail.method%></p><br>
      <p class="">Garnish</p>
      <p> <%= cocktail.garnish%></p><br>
       
       <% if Helpers.is_logged_in?(session)%>
       <form action="/cocktails" method="POST">
        <input type="hidden" name="id" value="<%= cocktail.id%>">
         
         <button class="button is-black is-rounded" type="submit">Add to your Bar</button>
         </form>
         <%else%>
         <a href="/login">
         <button class="button is-black is-rounded" type="submit">Login</button>
         </a>
          <%end%>
    </div>
   </div>
 <%end%>
</div>

