<div class="colums">
<div class="column">
<%@cocktails.each do |cocktail|%>
<h2><%= cocktail.name%></h2>
<p>Description:<%= cocktail.description%></p><br>
<p>Glassware:<%= cocktail.glassware%></p><br>
<p>Ingredients: <%= cocktail.ingredients%></p><br>
<p>Method:<%= cocktail.method%></p><br>
<p>Garnish:<%= cocktail.garnish%></p><br>
<form action="/cocktails" method="POST">
<input type="hidden" name="id" value="<%= cocktail.id%>">
<input type="submit" value="Save cocktail">
</form>
<%end%>
</div>
</div>

