<div class="container content">
  <%@cocktails.each do |cocktail|%>
   <div class="card">
    <div class="card-content">
     <h2 class="title"><%= cocktail.name%></h2>
      <p class="">Description</p>
      <p class=""><%= cocktail.description%></p><br>
     
      <article class="media">
     <div>
     <div>
      <p>Glassware</p>
      <p><%= cocktail.glassware%></p><br>
    </div>
    </div>
      <figure class="image is-64x64">
   <img class="is-rounded" src="/images/<%=cocktail.glassware.gsub(' ', '').downcase%>.svg">
    </figure>
  
    </article>
    
      <p>Ingredients</p>
      <p><%= cocktail.ingredients%></p><br>
      <p>Method</p>
      <p><%= cocktail.method%></p><br>
      <p>Garnish</p>
      <p> <%= cocktail.garnish%></p><br>
       
       <% if Helpers.is_logged_in?(session)%>
       <form action="/cocktails" method="POST">
        <input type="hidden" name="id" value="<%= cocktail.id%>">
         
         <button class="button is-black is-rounded" type="submit">Add to your Bar</button>
         </form>
         <%else%>
         <a href="/login">
         <button class="button is-black is-rounded" type="submit">Login</button>
         </a>
          <%end%>
    </div>
   </div>
 <%end%>
</div>

