<div class="container">
  <%@stashes.each_with_index do |stash, index|%>
    <div class="card">
     <div class="card-content">
      <h3 class="title is-5"><%= index%>. <%=stash.name%></h3>
      <%stash.ingredients.each do |ingredient|%>
       <p><%= ingredient.name%></p>
      <%end%>

        <a href="/cabinets/<%= stash.id %>/edit">
        <button class="button is-black is-rounded" type="submit">Edit Cabinet</button>
        </a>

        <a href="/cabinets/<%= stash.id %>/cocktail">
        <button class="button is-black is-rounded" type="submit">Head to the bar</button>
        </a>

        <form action="/cabinets/<%=stash.id%>" method="POST">
         <input type="hidden" name="_method" value="DELETE">
        
          <button class="button is-danger is-rounded">
           <span>Delete</span>
            <span class="icon is-small">
            <i class="fas fa-times"></i>
           </span>
         </button>
    
         </form>
     </div>
    </div>
    <%end%>
</div>