<h2>Ingredient stash list </h2>
<% @ingredients.each do |ingredient|%>
<h3><%= ingredient.ingredient_slot_1%></h3>
<h3><%= ingredient.ingredient_slot_2%></h3>
<h3><%= ingredient.ingredient_slot_3%></h3>
<h3><%= ingredient.ingredient_slot_4%></h3>
<h3><%= ingredient.ingredient_slot_5%></h3>
<%end%>