
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>CocktailSuggester</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   <link rel="stylesheet" href="/stylesheets/main.css">
   <script type="text/javascript" src="/javascripts/navigation.js"></script>  
   
    </head>
     <body id="font">
     <% flash.keys.each do |type| %>
      <div data-alert class="notification is-<%= type %>">
      <%= flash[type] %>  
      <button class="delete" onclick="this.parentElement.style.display='none'"></button>
     </div>
     <% end %>
     
      
    
      <section class="hero is-black">
      
       <div class="hero-head">
       
       <% if Helpers.is_logged_in?(session)%>
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
          <a class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
          </a>
            
            
          <div  class="navbar-menu" id="navMenu">
            <div class="navbar-start">
              <a class="navbar-item" href="/about">About</a>
              <a class="navbar-item" href="/user/<%=Helpers.current_user(session).id%>/cabinets">My Cabinets</a>
              <a class="navbar-item" href="/cabinets/new">New Cabinet</a>
              <a class="navbar-item" href="/user/<%=Helpers.current_user(session).id%>/cocktails">Your Bar</a> 
              <a class="navbar-item" href="/recipes">Recipes</a> 
            </div>
               

            <div class="navbar-end">
              <a class="navbar-item" href="/account/<%=Helpers.current_user(session).id%>">Account</a>
              <a class="navbar-item" href="/logout">
                <button class="button is-primary is-inverted is-outlined is-rounded">Log Out</button>
              </a>
            </div>
          </div>
        </nav>
        <%else%>
         <nav class="navbar is-black" role="navigation" aria-label="main navigation">
          <a class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
          </a>
            
            
          <div  class="navbar-menu" id="navMenu">
            <div class="navbar-start">
              <a class="navbar-item" href="/about">About</a>
              <a class="navbar-item" href="/cabinets/new">New Cabinet</a>
            </div>
               

            <div class="navbar-end">
              <a class="navbar-item" href="/login">
                <button class="button is-primary is-inverted is-outlined is-rounded">Log in</button>
              </a>
              <a class="navbar-item" href="/signup">
                <button class="button is-primary is-inverted is-outlined is-rounded">Sign up</button>
              </a>
            </div>
          </div>
         </nav>
<%end%>
      </div>

      <div class="hero-body">
    
      <h1 class="title">
        <%=@hero_body%>
      </h1>
      <h2 class="subtitle">
        <%=@hero_subtitle%>
      </h2>
    </div>
  </div>
   </section>
   
      

          
           <%= yield %>

         

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
