
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>CocktailSuggester</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   
    </head>
     <body>
     <% flash.keys.each do |type| %>
      <div data-alert class="notification is-<%= type %>">
      <%= flash[type] %>  
      <button class="delete" onclick="this.parentElement.style.display='none'"></button>
     </div>
     <% end %>
      
     <%if Helpers.is_logged_in?(session) && Helpers.current_user(session)%>
      <section class="hero is-black">
      
       <div class="hero-head">
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
          <div class="container">
           <div class="navbar-brand">
            <a class="navbar-item">
             <img src="/images/logo-big.png" alt="Logo">
            </a>
             <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
               <span></span>
                <span></span>
                 </span>
            </div>
             <div id="navbarMenuHeroA" class="navbar-menu">
               <div class="navbar-start">
                <a class="navbar-item" href="/user/<%=Helpers.current_user(session).id%>">My Cabinets</a>
                <a class="navbar-item" href="/stashes/new">New Cabinet</a>
                <a class="navbar-item" href="/user/<%=Helpers.current_user(session).id%>/cocktails"> The Bar</a> 
                </div>
               </div>

               <div class="navbar-end">
                <a class="navbar-item" href="/account/<%=Helpers.current_user(session).id%>">Account</a>
                <a class="navbar-item" href="/logout">
                 <button class="button is-primary is-inverted is-outlined is-rounded">Log Out</button>
                </a>
               </div>
             
            </div>
        </nav>
      </div>
        <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%=@hero_body%>
      </h1>
      <h2 class="subtitle">
        <%=@hero_subtitle%>
      </h2>
    </div>
  </div>
   </section>
        <%end%>

          
           <%= yield %>

         

      <footer class="footer">
        <small>&copy; 2020 <strong>CocktailSuggester</strong></small>
      </footer>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
